# Kernel 6.x.y boot args for OpenWrt (btrfs rootfs on p2; USB=/dev/sda2, SD=/dev/mmcblkXp2 via ${root})
# NOTE: kernel without initramfs supports root=/dev/... or PARTUUID=/PARTLABEL=, NOT LABEL=/UUID=.
rootfstype=btrfs
bootargs0=root=${root} rootfstype=btrfs rootwait rw
bootargs1=earlycon=meson,0xfe07a000 console=ttyAML0,115200n8 no_console_suspend consoleblank=0
bootargs2=coherent_pool=2M
bootargs3=net.ifnames=0
bootargs4=watchdog.stop_on_reboot=0 pd_ignore_unused clk_ignore_unused
